/* operate more like a single-image carousel */

.cardflow-carousel {
    border: 1px solid #fff;
    position:relative;
}

.cardflow-carousel .cardflow-container {
    overflow: hidden;
    position:relative;
    display: block;

    /* disable text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;

    cursor: pointer;
}

.cardflow-carousel .cardflow-card{
    position: absolute;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align: center;
    line-height:400px;
    background: #000;
    background-size:cover;

    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    
    z-index:1;

    /* this makes fade-in work */
    opacity:0;
}

.cardflow-carousel , .cardflow-carousel .cardflow-card, .cardflow-carousel .cardflow-container {
    width: 400px;
    height: 400px;
}

.cardflow-carousel .cardflow-card.cardflow-active {
    /* this makes fade-in work */
    opacity:1;
}

.cardflow-carousel .indicators {
    position:absolute;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    bottom:0;
    left:0;
    opacity:0;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.cardflow-carousel:hover .indicators{
    opacity:1;
}

.cardflow-carousel .indicator {
    background-color: #000;
    background-color: rgba(10, 10, 10, 0.6);
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    cursor: pointer;
    width: 6px;
    height: 6px;
    display:inline-block;
    border-radius: 50%;
    margin:2px;
}

.cardflow-carousel .indicator.active {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 400px) {
    
    .cardflow-carousel , .cardflow-carousel .cardflow-card, .cardflow-carousel .cardflow-container {
        width: 100vmin;
        height: 100vmin;
    }

    .cardflow-carousel .indicator{
        width: 2vmin;
        height: 2vmin;
    }
}
