/*

just to make demos look nice. See cardfolow.css for example of an actual cardflow

 */
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    background: black;
}

body,a,a:link,a:active,a:visited {
    color: white;
}

.container {
    width: 960px;
    margin: 50px auto;
}

#github {
    position: absolute;
    right: 10px;
    top: 10px;
}

.cardflow-carousel {
    position: relative;
}

/* disable indent & active card for page-driven coverflows */
.page .cardflow-container {
    padding-left: 0;
}

.page .cardflow-card.cardflow-active {
    border-color: #000;
}

/* style carousel single-card flows */
.cardflow-carousel,.cardflow-carousel .cardflow-card,.cardflow-carousel .cardflow-container,.cardflow-carousel .cardflow-wrapper {
    width: 400px;
    height: 400px;
}

.cardflow-carousel .cardflow-card {
    line-height: 400px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align: center;
}

.carousel .cardflow-card {
    margin-right: 0;
}

/* disable dragging */
.cardflow-card img {
    pointer-events: none;
}

.cardflow-carousel .indicators {
    position: absolute;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    bottom: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.cardflow-carousel:hover .indicators {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.cardflow-carousel .indicator {
    background-color: #000;
    background-color: rgba(10, 10, 10, 0.6);
    cursor: pointer;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    margin: 2px;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.cardflow-carousel .indicator.active {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
}

/*

You can get much better cross-browser support by doing all your reflections & glows like this:
http://webdesign.tutsplus.com/tutorials/cross-browser-css-reflections-glows-and-blurs--webdesign-6294

*/


.cardflow-fancy .cardflow-wrapper {
    height: 300px;
    padding-top: 10px;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.05, rgb(46,46,46)), color-stop(0.53, rgb(0,0,0)) );
}

.cardflow-fancy .cardflow-card {
    -webkit-box-shadow: 0 0 8px 8px rgba(0,0,0,0.5);
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.5);
    -webkit-box-reflect: below 1px -webkit-gradient( linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(rgba(255, 255, 255, 0.5)) );
    /*
    this seems to mess up reflection in chrome.
    I can fix with moving everything to 3d, but chrome was also
    doing funny stuff with the transform matrix (mis-repainting)
    I am just going to leave this out.
    */

    /*
    -webkit-transition: -webkit-transform 0.25s ease-out;
    -moz-transition: -moz-transform 0.25s ease-out;
    -o-transition: -o-transform 0.25s ease-out;
    -ms-transition: -ms-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    */
}

.cardflow-fancy .cardflow-card.cardflow-active {
    -webkit-box-shadow: 0 0 4px 4px rgba(127,127,127,0.5);
    box-shadow: 0 0 4px 4px rgba(127,127,127,0.5);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
