/* just a demo, feel free to make this however you like in your app */

.cardflow-container {
    overflow: hidden;
    position:relative;
    display: block;

    width: 100%;
    height: 340px;
    padding-top: 80px;
    background-color: #000;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, rgb(46,46,46)),
        color-stop(0.53, rgb(0,0,0))
    );

    /* disable text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    outline: 0;

    cursor: pointer;
}

.cardflow-card{
    position: absolute;

    width: 200px;
    height: 200px;
    
    -webkit-box-reflect: below 1px -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        color-stop(0.6, transparent), to(rgba(255, 255, 255, 0.5))
    );
    
    -moz-box-shadow:    0 0 8px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 8px 8px rgba(0,0,0,0.5);
    box-shadow:         0 0 8px 8px rgba(0,0,0,0.5);

    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align: center;
    line-height:200px;
    background: #000;
    background-size:cover;

    margin-left: 45%; /* center cards to parent. first card is active, in the middle */

    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    z-index:1;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    outline: 0;
}

.cardflow-card.cardflow-active {
   z-index:100;
    -moz-box-shadow:    0 0 4px 4px rgba(127,127,127,0.5);
    -webkit-box-shadow: 0 0 4px 4px rgba(127,127,127,0.5);
    box-shadow:         0 0 4px 4px rgba(127,127,127,0.5);
}

@media (max-width: 480px) {
    .cardflow-card, .cardflow-card.cardflow-active  {
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
        -webkit-box-reflect: none;
    }

    .cardflow-card{
        border: 1px solid #000;
    }
    .cardflow-card.cardflow-active  {
        border: 1px solid #fff;
    }

    .cardflow-container {
        background-image: none;
    }
}

@media (max-width: 200px) {
    .cardflow-container, .cardflow-card {
        width: 100%;
        height: 100%;
    }
    
    .cardflow-card {
        margin-left: 0; /* center cards to parent. first card is active, in the middle */
    }
}