/*

just to make demos look nice. See cardfolow.css for example of an actual cardflow

*/
body{
	font-family: sans-serif;
	background: black;
	margin:0;
}

body, a, a:link, a:active, a:visited {
	color: white;
}

#github{
	position:absolute;
	right:10px;
	top: 10px;
}
