<!DOCTYPE html>
<html lang="en" ng-app="angular-cardflow-example">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
        <title>Cardflow</title>
        <link href="demo.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-touch.min.js"></script>
        <script src="http://konsumer.github.io/angular-cardflow/cardflow.min.js"></script>
        <link href="http://konsumer.github.io/angular-cardflow/cardflow.css" rel="stylesheet">
    </head>

    <body ng-controller="example-controller">
        <a id="github" href="https://github.com/konsumer/angular-cardflow">view on github</a>
        <h1>Cardflow</h1>
        <p>Swipe left or right. <a href="simple.html">Here</a> is a simpler example. <a href="carousel.html">Here</a> is an example that is sort of like angular-carousel.</p>
        
        <!-- use this sort of thing if you want to add advancing buttons, complete with disabling for bounds -->
        <button ng-click="cardflow.current=cardflow.current-1" ng-disabled="cardflow.current <= 0">&lt;</button> {{ cardflow.current+1 }} / {{ cards.length }}
        <button ng-click="cardflow.current=cardflow.current+1"  ng-disabled="cardflow.current >= (cards.length-1)">&gt;</button>

        <cardflow model="cardflow">
            <div class="cardflow-card" ng-repeat="card in cards" style="background-image: url( {{card.image}} )">
                {{ card.title }}
            </div>
        </cardflow>

    </body>

    <script>
    // Example controller
    angular.module('angular-cardflow-example', ['angular-cardflow'])
        .controller('example-controller', function($scope){
            // model to hold info about cardflow
            $scope.cardflow = {};

            // optional active callback:
            // scale active, rather than just setting it's offset
            $scope.cardflow.onActive = function(active_element, offset, scope){
                active_element.css({
                    'transform': 'translate3d('+offset+'px,0,0) scale(1.2)',
                    '-webkit-transform': 'translate3d('+offset+'px,0,0) scale(1.2)',
                    '-o-transform': 'translate3d('+offset+'px,0,0) scale(1.2)',
                    '-moz-transform': 'translate3d('+offset+'px,0,0) scale(1.2)'
                });
            }

            // generate 40 cards
            $scope.cards = [];
            var types = ['cats','fashion','nature','food','abstract','nightlife'];
            for (var i=0; i<40; i++){
                var t = types[i % types.length];
                $scope.cards.push({image:'http://lorempixel.com/200/200/' + t + '/'+((i%10)+1), title: t});
            }
        });
    </script>
</html>