<!DOCTYPE html>
<html lang="en" ng-app="angular-cardflow-example">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>angular-cardflow</title>
        <link href="demo.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-touch.min.js"></script>
        
        <!-- build:js cardflow.min.js -->
        <script src="../cardflow.js"></script>
        <!-- endbuild -->

        <!-- build:css cardflow.min.css -->
        <link href="cardflow.css" rel="stylesheet">
        <!-- endbuild -->
    </head>

    <body ng-controller="example-controller">

        <div class="container">
            <a id="github" href="https://github.com/konsumer/angular-cardflow">view on github</a>

            <p>swipe left or right, watch velocity &amp; snap to individual card on slow down.</p>
            <button ng-click="cardflow.current=cardflow.current-1" ng-disabled="cardflow.current <= 0">&lt;</button> {{ cardflow.current+1 }} / {{ cardflow.cards.length }}
            <button ng-click="cardflow.current=cardflow.current+1"  ng-disabled="cardflow.current >= (cardflow.cards.length-1)">&gt;</button>
            <cardflow-kinetic-snap model="cardflow">
                <div class="cardflow-card" ng-repeat="card in cardflow.cards" style="background-image: url( {{card.image}} )">
                    {{ card.title }}
                </div>
            </cardflow-kinetic-snap>

        </div>

    </body>

    <script>
    // prevent scrolling
    // document.onload = function(){ document.ontouchmove = function(e){ e.preventDefault(); } };

    angular.module('angular-cardflow-example', ['angular-cardflow'])
        .controller('example-controller', function($scope){
            // model, so I can reach into cardflow
            $scope.cardflow = {};


            // generate 40 cards
            var cards =[];
            var types = ['cats','fashion','nature','food','abstract','nightlife'];
            for (var i=0; i<40; i++){
                var t = types[i % types.length];
                cards.push({image:'http://lorempixel.com/200/200/' + t + '/'+((i%10)+1), title: t});
            }
            $scope.cardflow.cards = cards;
        });
    </script>
</html>